{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <a type="button" class="btn btn-primary" href="/absence/4?month=1">Januari</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=2">Februari</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=3">Maret</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=4">April</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=5">Mei</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=6">Juni</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=7">Juli</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=8">Agustus</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=9">September</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=10">Oktober</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=11">November</a>
    <a type="button" class="btn btn-primary" href="/absence/4?month=12">Desember</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tanggal</th>
            <th scope="col">Jam Presensi</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
        <tr>
            <th>{{ absence.date_time.day }}</th>
            <td>{{ absence.date_time.time() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}